/*---------------------------------------------------
Generic
---------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	font-family: 'Bai Jamjuree', sans-serif;
}
p, ul li {
	font-size: 1.8rem;
	color: hsl(201, 11%, 66%);
	margin-top: 15px;
	text-align: center;
}
h1, h2, h3 {
	color: hsl(210, 10%, 33%);
	text-align: center;
}
h1 {
	font-size: 3.3rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.5rem;
}
a {
	font-size: 2rem;
	text-align: center;
}
ul li {
	list-style: none;
}
footer {
	text-align: center;
	background-color: hsl(201, 11%, 95%);
}
header, .snippets-section, .clipboard-section, .supercharge-section, .client-logo-section, .CTA-section {
	padding: 65px 5%;
	text-align: center;
}
/*---------------------------------------------------
Buttons
---------------------------------------------------*/
.download-btn-ios,
.download-btn-mac {
	margin: auto;
	text-decoration: none;
	color: white;
	display: block;
	width: 90%;
	height: 50px;
	line-height: 50px;
	border-radius: 50px;
}
.download-btn-ios {
	background-color: hsl(171, 66%, 44%);
	border-bottom: 2.5px solid hsl(171, 66%, 28%);
	margin-top: 50px;
	box-shadow: 0px 12px 12px 0px rgba(161, 247, 234,0.35);
}
.download-btn-mac {
	background-color: hsl(233, 100%, 69%);
	border-bottom: 2.5px solid hsl(233, 100%, 49%);
	margin-top: 25px;
	box-shadow: 0px 12px 12px 0px rgba(161, 171, 247,0.35);
}
.download-btn-ios:hover {
	background-color: hsl(171, 66%, 64%);
}
.download-btn-mac:hover {
	background-color: hsl(233, 100%, 79%);
}
/*---------------------------------------------------
Header
---------------------------------------------------*/
header {
	background-image: url(images/bg-header-mobile.png);
	background-size: cover;
}
header img {
	width: 100px;
	margin-bottom: 50px;
	margin-top: 50px;
}
/*---------------------------------------------------
Main
---------------------------------------------------*/
/*Snippets*/
.snippets-main {
	padding-top: 75px;
}
.snippets-main img {
	max-width: 100%;
}
.snippets-main h3 {
	padding-top: 50px;
}
/*Clipboard*/
.clipboard-section img {
	width: 100%;
	padding-top: 50px;
}
/*supercharge*/
.supercharge-head {
	padding-bottom: 25px;
}
.supercharge-items {
padding-top: 50px;
}
.supercharge-items img {
	width: 40px;
	padding-bottom: 30px;
}
/*Client Logo Section*/
.client-logo-section ul li img{
	width: 140px
}
.client-logo-section ul li{
	padding: 25px;
}
/*---------------------------------------------------
Footer
---------------------------------------------------*/
footer {
	margin-top: 65px;
}
footer, .more-info-section {
	padding: 50px 0;
}
footer img{
	width: 50px;
}
.more-info-section {
	padding: 20px;
}
.more-info-section li {
	color: hsl(210, 10%, 33%);
}
.more-info-section li:hover {
	color: hsl(171, 66%, 44%);
}
.social-icons li {
	display: inline-block;
}
.social-icons li i {
	color: hsl(210, 10%, 33%);
	font-size: 1.8rem;
	padding: 10px;
}
.social-icons li i:hover {
	color: hsl(171, 66%, 44%);
}
.attribution {
	font-size: 11px; text-align: center;
}
.attribution a {
	font-size: 11px;
	color: hsl(228, 45%, 44%);
}
/*---------------------------------------------------
Media Queries
---------------------------------------------------*/
 @media only screen and (min-width: 420px) {
 	h1, h2, h3, p, .download-btn-ios, .download-btn-mac {
 		margin-left: auto;
 		margin-right: auto;
 		max-width: 70%;
 	}
 }
  @media only screen and (min-width: 700px) {

 /*---------------------------------------------------
 Header
 ---------------------------------------------------*/
 header {
 	background-image: url(images/bg-header-desktop.png);
 	background-size: cover;
 }
 /*---------------------------------------------------
 Buttons
 ---------------------------------------------------*/
 .download-btn-ios,
 .download-btn-mac {
 	width: 230px;
 	display: inline-block;
 	margin-right: 15px;
 	margin-left: 15px;
 }
 /*---------------------------------------------------
 Main
 ---------------------------------------------------*/
 /*Snippets*/
 .snippets-main img {
 	width: 80%;
 }
 /*Clipboard*/
 .clipboard-section img {
 	width: 80%;
 	padding-top: 50px;
 }
 /*supercharge*/
.supercharge-items p{
	width: 50%;
 }
}
@media only screen and (min-width: 900px) {
   /*---------------------------------------------------
   Main
   ---------------------------------------------------*/
   /*Snippets*/
   .snippets-main {
   	display: flex;
   	align-items: center;
   }
  .snippets-image {
  	margin-left: -20px;
  }
  .snippets-text p, .snippets-text h3 {
  	text-align: left;
  }
  .snippets-text p {
  	padding-right: 15%;
  }
  .snippets-text h3:first-of-type  {
  	padding-top: 0;
  }
  .snippets-main img {
  	width: auto ;
  }
  .snippets-section {
  	padding: 65px 0;
  }
  /*Supercharge*/
  .supercharge-container {
		display: flex;
  }
  .supercharge-items {
		flex: 1;
  }
  .supercharge-items h3 {
		max-width: 100%;
  }
  .supercharge-items p {
  	width: 100%;
  }
  /*Clipboard*/
  .clipboard-section img {
  	width: 60%;
  	padding-top: 50px;
  }
  /*Client Logo Section*/
  .client-logo-section ul li{
  	padding: 40px;
  	display: inline-block;
  }
    /*---------------------------------------------------
    Footer
    ---------------------------------------------------*/
    footer ul {

    }
    footer ul li {
    	text-align: left;
    }
    footer ul li:first-of-type {
    	margin-top: 0;
    }
    .footer-container {
    	margin: 0 50px;
    	display: flex;
    }
    .footer-logo {
  		flex: 1;
    }
    .more-info-section {
    	flex: 4;
    	column-count: 3;
    	column-gap: 20px;
  		padding: 0 60px;
    }
    .social-icons {
    	flex: 1;
    }
    .attribution {
    	margin-top: 50px;
    }

  }
